body { font-family: monospace; }

td.num-cell { text-align: right; }
.hash { font-family: monospace; }

tr.old td { color: #888; }
tr.old td a { color: #888; }
table.mergedtable td.text { text-align: left; }
table.mergedtable td { padding-right: 8px; text-align: right; }
